/*------- Tampilan dasar berlaku keseluruhan selector -------*/

* {
    margin: 0;
    padding: 0;
}


/*------- Header penampung logo-nama website -------*/

.header {
    height: 80px;
    width: 100%;
    background-color: #353535;
    text-align: center;
    position: fixed;
    padding: 17px;
    top: 0;
}


/*------- Tampilan tag img logo website-------*/

img#logo-web {
    height: 45px;
    width: 45px;
}


/*------- Tampilan tag a nama website-------*/

a#nama-web {
    text-decoration: none;
    color: white;
    font-family: 'East Octopus';
    font-size: 40px;
    margin: 0;
}


/*------- Tampilan tag span nama website-------*/

span#nama-web {
    color: #f2bf63;
    font-family: 'East Octopus';
    margin-left: 7px;
}


/*------- Import font nama website -------*/

@font-face {
    font-family: 'East Octopus';
    src: url(font/East-Octopus.otf);
}


/*------- Tampilan Navigation Bar -------*/

.navbar {
    background-color: #f2bf63;
    height: 46px;
    width: 100%;
    position: fixed;
    top: 80px;
    font-family: Arial;
    font-weight: 700;
    color: #353535;
}


/*------- Mengatur posisi elemen navbar -------*/

.navbar-left {
    float: left;
    padding-top: 16px;
}

.navbar-right {
    float: right;
}


/*------- Mengatur Tampilan Tulisan Menu -------*/

.navbar-left a {
    text-decoration: none;
    padding-left: 14px;
    color: #353535;
}

.navbar-left a:hover {
    padding: 14px 16px;
    color: #fff;
}


/*------- Mengatur Tampilan Button Menu -------*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #353535;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #353535;
    color: white;
}


/*------- Mengatur Tampilan Konten Judul -------*/

.bg-content {
    height: 720px;
    background: url(../img/bg-masakan.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.jd-content {
    height: 720px;
    margin-top: 126px;
    padding-top: 123px;
    color: white;
    font-family: Arial;
    text-align: center;
}

.jd-content h1 {
    font-size: 100px;
    padding-top: 24px;
}

#sub-jd {
    font-size: 20px;
}


/*------- Mengatur Tampilan Button Pemesanan pada Konten Judul -------*/

#btn-menu {
    background-color: #f2bf63;
    font-weight: 600;
    height: 30px;
    width: 175px;
    border-radius: 50px;
    line-height: 26px;
    margin-top: 35px;
    margin-left: 42%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#daftar-menu {
    font-size: 15px;
    color: #353535;
    text-decoration: none;
}

#btn-menu:hover,
#daftar-menu:hover {
    cursor: pointer;
    background-color: #353535;
    color: #f2bf63;
}


/*------- Mengatur Tampilan Langkah-langkan Pemesanan -------*/

.cr-content {
    text-align: center;
    font-family: 'Mont Light';
}

.cr-content h1 {
    font-family: 'Mont Heavy';
    color: #232c2e;
    margin: 35px;
}

.cr-content h3 {
    font-family: 'Mont Heavy';
    color: #7e8276;
    margin: 15px;
}

.card-content {
    display: grid;
    grid-template-rows: repeat(1, auto);
    padding-left: 520px;
    padding-right: auto;
    padding-bottom: 50px;
}

.card-content .card {
    margin-top: 20px;
    padding-bottom: 50px;
    padding: 45px;
    border-color: #d0ccbf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.card:hover {
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.box-numb {
    background-color: rgb(212, 178, 85);
    height: 50px;
    width: 50px;
    padding: 10px;
}

.box-numb p {
    font-family: 'Mont Heavy';
    font-size: 35px;
    color: #7e8276;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.material-icons {
    font-size: 70px;
    margin-left: 10px;
    margin-top: 3px;
}

.cd-container p {
    font-size: 11.5px;
    text-align: justify;
}


/*------- Import Font .cr-content -------*/

.card-content2 {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-bottom: 50px;
}

.card-content2 .card {
    margin-left: 55px;
    max-width: 85px;
    width: 40%;
    margin-top: 20px;
    padding-bottom: 50px;
    padding: 45px;
}

.card-content2 h4 {
    font-size: 10px;
    padding-left: 10px;
}


/*------- Import Font .cr-content -------*/

@font-face {
    font-family: 'Mont Heavy';
    src: url(font/Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: 'Mont Light';
    src: url(font/Mont-ExtraLightDEMO.otf);
}


/*------- Mengatur Tampilan Class Contact Berisi Informasi Kontak yang Dapat dihubungi -------*/

.contact {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-family: Arial;
}

.ct-content {
    height: 95px;
    background-color: #f2bf63;
    color: black;
    font-weight: 800;
    padding: 25px;
}

.ct-content img {
    height: 15px;
    width: 15px;
}

.ct-content h5 {
    font-size: 16px;
    padding-top: 5px;
}


/*------- Tampilan Copyright -------*/

footer {
    background-color: #353535;
    color: #fff;
    height: 20px;
    width: auto;
    padding: 35px;
    font-family: Arial;
    text-align: center;
}