/*------- Tampilan dasar berlaku keseluruhan selector -------*/

* {
    margin: 0;
    padding: 0;
}


/*------- Header penampung logo-nama website -------*/

.header {
    height: 80px;
    width: 100%;
    background-color: #353535;
    text-align: center;
    position: fixed;
    padding: 17px;
    top: 0;
}


/*------- Tampilan tag img logo website-------*/

img#logo-web {
    height: 45px;
    width: 45px;
}


/*------- Tampilan tag a nama website-------*/

a#nama-web {
    text-decoration: none;
    color: white;
    font-family: 'East Octopus';
    font-size: 40px;
    margin: 0;
}


/*------- Tampilan tag span nama website-------*/

span#nama-web {
    color: #f2bf63;
    margin-left: 7px;
}


/*------- Import font nama website -------*/

@font-face {
    font-family: 'East Octopus';
    src: url(font/East-Octopus.otf);
}


/*------- Tampilan Navigation Bar -------*/

.navbar {
    background-color: #f2bf63;
    height: 46px;
    width: 100%;
    position: fixed;
    top: 80px;
    font-family: Arial;
    font-weight: 700;
    color: #353535;
}


/*------- Mengatur posisi elemen navbar -------*/

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}


/*------- Mengatur Tampilan Tulisan Menu -------*/

.navbar p {
    padding: 14px 16px;
}


/*------- Mengatur Tampilan Button Menu -------*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #353535;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #353535;
    color: white;
}


/*------- Mengatur Tampilan Konten Judul -------*/

.bg-content {
    height: 720px;
    background: url(../img/bg-masakan.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.jd-content {
    height: 720px;
    margin-top: 126px;
    padding-top: 123px;
    color: white;
    font-family: Arial;
    text-align: center;
}

.jd-content h1 {
    font-size: 100px;
    padding-top: 24px;
}

#sub-jd {
    font-size: 20px;
}


/*------- Mengatur Tampilan Button Pemesanan pada Konten Judul -------*/

#btn-buat {
    background-color: #f2bf63;
    font-weight: 600;
    height: 30px;
    width: 175px;
    border-radius: 50px;
    line-height: 26px;
    margin-top: 35px;
    margin-left: 42%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#buat-skrg {
    font-size: 15px;
    color: #353535;
    text-decoration: none;
}

#btn-buat:hover,
#buat-skrg:hover {
    cursor: pointer;
    background-color: #353535;
    color: #f2bf63;
}