/*------- Tampilan dasar berlaku keseluruhan selector -------*/

* {
    margin: 0;
    padding: 0;
}

.container-about h1 {
    border-radius: 15px;
    text-align: center;
    color: #f2bf63;
    font-size: 88px;
    font-family: 'Calypsoka One';
    text-shadow: 3px 4px rgba(0, 0, 0, 0.753);
    margin-bottom: 50px;
    top: 150px;
}

@font-face {
    font-family: 'Calypsoka One';
    src: url("CalypsokaOne.ttf");
}

.container-about {
    text-align: center;
    margin-top: 175px;
    margin-bottom: 100px;
}

.content-about {
    width: 350px;
    height: 80%;
    margin-left: 20px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-about img {
    width: 300px;
    height: 400px;
    display: flex;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    margin-top: 20px;
}

.desc {
    text-align: center;
    padding: 10px 20px;
}

h2 {
    font-family: 'Courier New';
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}


/*------- Mengatur Tampilan Class Contact Berisi Informasi Kontak yang Dapat dihubungi -------*/

.contact {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-family: Arial;
}

.ct-content {
    height: 95px;
    background-color: #f2bf63;
    color: black;
    font-weight: 800;
    padding: 25px;
}

.ct-content img {
    height: 15px;
    width: 15px;
}

.ct-content h5 {
    font-size: 16px;
    padding-top: 5px;
}


/*------- Tampilan Copyright -------*/

footer {
    background-color: #353535;
    color: #fff;
    height: 20px;
    width: auto;
    padding: 35px;
    font-family: Arial;
    text-align: center;
}